<% include partials/header %>


<h1>Edit <%= community.name %> </h1>

  <h2 style="text-align: center">Ready to list yourself?</h2>


 <div style="width: 30%; margin: 25px auto;">
            <form action="/community/<%= community._id %>?_method=PUT" method="POST">
                <div class="form-group">
                    <input class="form-control" type="text" name="community[name]" placeholder="name" value="<%= community.name %>">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="community[image]" placeholder="image url" value="<%= community.image %>">
                    <p> Go to facebook, right click on your favorite picture, click "copy image URL", and paste it into the text box above.</p>
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name=community["email]" placeholder="email" value="<%= community.email %>">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name=community["desc]" placeholder="Short description of who you are" value="<%= community.desc %>">
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">Submit!</button>
                </div>
                
               

<p>Edit form goes here</p>



<% include partials/footer %>